*{
    padding: 0;
    margin: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(135deg, rgb(192, 184, 134) 60%, rgb(208, 129, 19));
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.containerz{
    display: grid;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    padding: 28px 32px;
    overflow: hidden;
    border-radius: 18px;
    font-family: sans-serif;
}
.searchbox{
    justify-content: center;
    display: flex;
    align-items: center;
}
.textbox{
    border: none;
    background:inherit;
    text-decoration: solid;
    text-transform: uppercase;
}
.textbox:focus{
    outline: none;
}
i{
    padding-right: 15px;
    color: #06283D;
    font-size: 28px;
}
.data_table{
    font-weight: bold;
    width: 600px;
}
td{
    padding-left: 20px;
}
.desc_div{
 display: grid;
 font-size: large;
 width: 600px;
}
@media screen and (max-width:1025px){
    body{
        display: block;
        align-items: center;
        justify-self: center;
    }
    .containerz{
        display:grid;
        justify-content: center;
    }
}


@media screen and (max-width: 415px){
    body{
        align-items: normal;
        display: flex;
    }
    .containerz{
      border-radius: 0px;
      width: 415px;
    }
    .data_table{
        width: 400px;
    }
    .desc_div{
        width: 400px;
        font-size: 18px;
    }
}
@media screen and (max-width: 376px){
    body{
        align-items: normal;  
        display: flex;
    }
    .containerz{
      border-radius: 0px;
    }
    .data_table{
        width: 300px;
    }
    .desc_div{
        width: 300px;
        font-size: 13px;
    }
}
@media screen and (max-width: 361px){
    body{
        align-items: center;  
        justify-content: center;
        display: block;
    }
    .containerz{
      border-radius: 0px;
      width: 360px;
    }
}
